<p>typed-form works!</p>
<form [formGroup]="shopping"  (ngSubmit)="submitData(shopping.value)">
    <label for="productName">productName: </label>
    <input id="productName" type="text" formControlName="productName">
    <br />
    <label for="quantity">quantity: </label>
    <input id="quantity" type="text" formControlName="quantity">
    <br />
    <label for="price">price: </label>
    <input id="price" type="text" formControlName="price">
    <br />
    <label for="discountAmount">discountAmount: </label>
    <input id="discountAmount" type="text" formControlName="discountAmount">
    <br />
    <button type="submit">Submit</button>
</form>